<a
    class="rounded-lg transition-all duration-300 ease-in-out hover:scale-105 custom-shadow-ex
    border border-myPink hover:bg-myPink p-4"
    href=""
    target="_blank"
    rel="nonopener noreferrer"
>
    DESCARGAR CV
</a>