<a
    class="transition-all duration-300 ease-in-out hover:scale-105 custom-shadow-ex
    border border-myPink hover:bg-myPink p-4"
    href="https://drive.google.com/file/d/1vX5vkReNs_ydfwuJdduQ_h4S1ptl7OLX/view?usp=drive_link"
    target="_blank"
    rel="nonopener noreferrer"
>
    DESCARGAR CV
</a>