<a
    class="rounded-lg flex justify-center items-center transition-all duration-300 ease-in-out hover:scale-110 size-10 custom-shadow-sm
    bg-myPink hover:bg-cyan-500"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
>
    <slot />
</a>
