<a
    aria-label="button"
    class="flex justify-center items-center transition-all duration-300 ease-in-out hover:scale-105 size-8 rounded-md custom-shadow-wh
    bg-myPink hover:bg-cyan-500"
    href={Astro.props.href}
    target="_blank"
    rel="nonopener noreferrer"
>
    <slot />
</a>
