---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Videografia from "../components/Videografia.astro";
import VerMasButton from "../components/VerMasButton.astro";
import VideografiaMain from "../components/VideografiaMain.astro";
import AboutMe from "../components/AboutMe.astro";
import Cv from "../components/Cv.astro";
---

<Layout title="pau pallares | filmmaker">
	<main>
		<Hero />
		<AboutMe />
		<h1 id="experience" class="text-2xl font-bold my-5 px-5">
			EXPERIENCE
		</h1>
		<Experience />
		<h1 id="videograph" class="text-2xl font-bold my-5 px-5">ALGUNOS TRABAJOS</h1>
		<Videografia />
		<VideografiaMain />
		<VerMasButton />
		<div id="cv"></div>
		<Cv />
	</main>
</Layout>
