---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Videografia from "../components/Videografia.astro";
import VideografiaMain from "../components/VideografiaMain.astro";
import VideografiaMusica from "../components/VideografiaMusica.astro";

import AboutMe from "../components/AboutMe.astro";
import Cv from "../components/Cv.astro";
import Line from "../components/buttons/Line.astro";
import VideografiaPublicidad from "../components/VideografiaPublicidad.astro";
---

<Layout title="pau pallares | filmmaker">
	<main>
		<Hero />
		<div class="max-w-screen-xl mx-auto">
			<div class="border mt-40 p-8">
				<AboutMe />
			</div>
			<div class="flex justify-center mx-5 mt-40 mb-10">
				<h1 id="experience" class="text-3xl font-bold bg-myPink text-white p-2  mb-10">
					EXPERIENCIA
				</h1>
			</div>
			<div class="mx-5">
				<Experience />
			</div>
			<div class="flex justify-center mx-5 mt-40 mb-10">
				<h1 id="videograph" class="text-3xl font-bold bg-myPink text-white  p-2 mb-10">
					PUBLICIDAD + EDICIÓN
				</h1>
			</div>
			<VideografiaPublicidad />
			<div class="flex justify-center mx-5 mt-40 mb-10">
				<h1 id="videograph" class="text-2xl font-bold bg-myPink text-white  p-2 mb-10">
					CÁMARA + DIRECCIÓN + EDICIÓN
				</h1>
			</div>
			<VideografiaMusica />
			<Videografia />
			<VideografiaMain />
			<div class="flex justify-center mx-5 mt-40 mb-10">
				<h1
					id="cv"
					class="text-3xl font-bold bg-white text-myPink custom-shadow-cv mb-10 p-2"
				>
					CURRICULIM VITAE
				</h1>
			</div>
			<Cv />
		</div>
	</main>
</Layout>
