---
import ProfilePicture from "./ProfilePicture.astro";
import SocialLinks from "./SocialsLinks.astro";
---

<div class="flex flex-row mx-5 justify-center" id="aboutme">
  <div class="flex flex-col gap-6">
    <h3 class="text-6xl font-bold flex items-center">PAU PALLARES</h3>
    <div class="flex items-center gap-x-4">
      <div>
        <h4 class="text-black bg-white pl-2 pr-3 rounded-r-full">
          EDITORA Y DIRECTORA AUDIOVISUAL
        </h4>
      </div>
      <SocialLinks />
    </div>
    <h2 class="descripcion-text max-w-[900px] text-pretty md:mr-10">
      <span class="font-regular">Hi! I'm Paula,</span>
      <span class=""
        >also known as ssanjua. Passionate about technology and committed to
        creating products that make a difference, my experience in the
        multimedia sector has shaped me in leadership and collaborative work.
        Specialized in technologies such as</span
      >
      <span class="font-bold"
        >JavaScript, React, Node.js, and SQL/NoSQL databases,</span
      >
      <span class="dark:font-thin">my projects include applications like</span>
      <span class="">Bookeando and YarcoDelivery,</span>
      <span class="dark:font-thin"
        >covering both backend and frontend. My colleagues highlight my
        technical skills as well as my</span
      >
      <span class="">creative thinking and problem-solving abilities.</span>
    </h2>
  </div>
  <ProfilePicture
    class="hidden md:flex md:items-center md:justify-center md:size-52 mt-10"
  />
</div>
<div class="flex md:hidden justify-center items-center">
  <ProfilePicture class="size-32" />
</div>
