---
import ProfilePictureClean from "../components/ProfilePictureClean.astro"
---

<header class="fixed pt-5 pb-5 bg-black/60 w-full z-10">
  <a>
    <nav class="flex justify-center items-center md:gap-x-4 lg:gap-x-6">
      <a href="#top">
        <ProfilePictureClean class="hidden md:block size-12" />
      </a>
      <a
        class="text-sm hover:text-myPink hover:font-bold dark:text-white dark:hover:text-myPink px-2 md:px-4 py-2 rounded-full transition-all duration-300 ease-in-out"
        href="#aboutme">Sobre mi</a
      >
      <a
        class="text-sm hover:font-bold dark:text-white dark:hover:text-myPink px-2 md:px-4 py-2 rounded-full transition-all duration-300 ease-in-out"
        href="#experience">Experiencia</a
      >
      <a
        class="text-sm hover:font-bold dark:text-white dark:hover:text-myPink px-2 md:px-4 py-2 rounded-full transition-all duration-300 ease-in-out"
        href="#videograph">Video</a
      >
      <a
        class="hover:font-bold dark:text-myPink dark:hover:text-white hover:border-myPink px-2 md:px-4 py-2 border ml-2 md:ml-0 custom-shadow-ex transition-all duration-300 ease-in-out"
        href="#cv">CV</a
      >
    </nav>
  </a>
</header>
