---
import ProfilePicture from "../components/ProfilePicture.astro";
---

<header class="bg-black">
  <a>
      <nav
        class="flex justify-center items-center gap-x-2 md:gap-x-4 lg:gap-x-6 pt-5"
      >
        <a href="#top">
          <ProfilePicture class="size-10"/>
        </a>
        <a
          class="text-gray-700 hover:text-gray-600 hover:font-bold dark:text-white/80 dark:hover:text-white px-2 md:px-4 py-2 rounded-full transition-all duration-300 ease-in-out"
          href="#aboutme">Acerca de mi</a
        >
        <a
          class="text-gray-700 hover:text-gray-600 hover:font-bold dark:text-white/80 dark:hover:text-white px-2 md:px-4 py-2 rounded-full transition-all duration-300 ease-in-out"
          href="#experience">Experiencia</a
        >
        <a
          class="text-gray-700 hover:text-gray-600 hover:font-bold dark:text-white/80 dark:hover:text-white px-2 md:px-4 py-2 rounded-full transition-all duration-300 ease-in-out"
          href="#videograph">Videografía</a
        >
        <a
          href="#cv">CV</a
        >
      </nav>
    
  </a>
</header>
