<div class="pt-20 md:pt-10">
  <video autoplay muted loop controls playsinline width="100%" height="100%">
    <source
      src="./videos/Editor_and_Director_-_Paula_Pallares_-_Reel.mp4"
      type="video/mp4"
    />
    Tu navegador no soporta el elemento video.
  </video>
</div>
