<div class="flex justify-center p-10 mb-10">
  <button class="bg-myPink text-white p-4 font-bold custom-shadow transition-all duration-300 ease-in-out hover:scale-110 hover:bg-white hover:text-myPink">
    VER TRABAJOS PUBLICITARIOS
  </button>
</div>
