---
const VIDEOS = [
  {
    title: "Music Videos - Paula Pallares - Reel",
    link: "https://player.vimeo.com/video/554523559?h=d26122ebd4",
    description: "Reel de videos musicales.",
  },
  {
    title: "Si la gente no te entiende, busca otra gente.",
    link: "https://player.vimeo.com/video/135841117?h=8c6642431b",
    description: "Corto documental. Ganador de varios festivales internacionales.",
  },
];

---

<div class="grid grid-cols-1 md:grid-cols-2">
  {
    VIDEOS.map(({ title, link, description }) => (
      <div class="relative p-5">
        <>
          <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe
              class="rounded-xl"
              src={link}
              style="position:absolute;top:0;left:0;width:100%;height:100%;"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
            />
          </div>
          <script src="https://player.vimeo.com/api/player.js" />
          <h1 class="text font-bold my-2">{title}</h1>
        </>
        <p id="description" class="text-xs">{description}</p>
      </div>
    ))
  }
</div>
