---
const VIDEOS = [
  {
    title: "LAS EX - COMBUSTIÓN ESPONTÁNEA",
    link: "E7De0KsGEVY",
    description:
      "LAS EX grabando su último discazo DEPRECIOSA en ESTUDIO ÁTOMO, bajo la inmejorable tutela de BARBI RECANATI.",
  },
  {
    title: "Sebastián Peyceré INFLEXIÓN TRÍO  - PAPERS",
    link: "qyi5a5A4U5A",
    description: "Sesión en vivo en ESTUDIO TRIADA DE Sirso Iseas.",
  },
  {
    title: "LAS EX - EL ESCRACHE | En vivo en la DILDA feminista",
    link: "LZaPoF9Kzss",
    description: "LAS EX - EL ESCRACHE - Autodefensa. 2018.GOZA redords.",
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-3 mb-6">
  {
    VIDEOS.map(({ title, link, description }) => (
      <div class="relative p-3">
        <lite-youtube videoid={link}  class="rounded-xl" />
        <h1 class="text-sm font-bold mb-2 mt-2">{title}</h1>
        <p id="description" class="text-xs text-gray-300">
          {description}
        </p>
      </div>
    ))
  }
</div>
