---
const VIDEOS = [
  {
    title: "Music Videos - Paula Pallares - Reel",
    link: "554523559",
    description: "Reel de videos musicales.",
  },
  {
    title: "Si la gente no te entiende, busca otra gente.",
    link: "135841117",
    description: "Corto documental. Ganador de varios festivales internacionales.",
  },
];

---

<div class="grid grid-cols-1 md:grid-cols-2">
  {
    VIDEOS.map(({ title, link, description }) => (
      <div class="relative p-3">
        <>
          <lite-vimeo videoid={link}  class="rounded-xl"></lite-vimeo>
          <script src="https://player.vimeo.com/api/player.js" />
          <h1 class="text font-bold my-2">{title}</h1>
        </>
        <p id="description" class="text-xs">{description}</p>
      </div>
    ))
  }
</div>
